# Configuration file

agricraft {
    # Require a Probe to see growth stages [default: true]
    B:extendedMode=true
}


"blood magic" {
    # Is holding a divination sigil required to see certain information. [default: true]
    B:requireSigil=false

    # Shows the player that they're looking at a mimick block when holding a seer sigil. [default: true]
    B:seeMimickWithSigil=true
}


forge {
    # Show tank gauge for internal tanks on most Tile Entities. [default: true]
    B:showTankGauge=true
}


helmets {
    # All non-blacklisted helmets can be combined with a probe.
    # !!! When this is false you can't uncraft previously probified helmets !!! [default: true]
    B:allHelmetsProbable=true

    # Put registry names of helmets that shouldn't be combinable with a probe [default: ]
    S:helmetBlacklist <
     >
}


"moo fluids" {
    # Show the Fluid of Fluid Cows [default: true]
    B:showFluid=true
}


vanilla {
    # Show breeding cooldown on animals while sneaking. [default: true]
    B:breedingCooldown=true

    # Show note block pitch and instrument. [default: true]
    B:noteBlockPitch=true
}


